@model MWCore.Areas.MWCore.Models.MWCoreModel
@{
    ViewBag.Title = "Gallery";
}
<script src="@Url.Content("~/Scripts/jquery-3.6.0.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>

<div id="divGallery">
    @{ Html.RenderPartial("_Gallery", Model);}
</div>


