@model MWCore.Areas.MWCore.Models.MWCoreModel
@{
    ViewBag.Title = "System Settings";
}
<script src="@Url.Content("~/Scripts/jquery-3.6.0.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>



<div id="divSystemSettings">
    @{ Html.RenderPartial("_SystemSettings", Model);}
</div>

