
@{
    ViewBag.Title = "Error";
}
<center>@Html.Image(Url.Content("~/assets/images/oops.png"), "Error", new { @id = "imgError" })</center>
<h3 style="color: purple;font-weight: 800;text-align: center;">The application has encountered an unknown error.</h3>
<br />
<h4 style="font-weight: 600;color: rebeccapurple;text-align: center;">It doesn't appear to have affected your data, but our technical staff have been automatically notified and will be looking into this with the utmost urgency.</h4>


